In [1]:
import random as rd
import string
import re

insert = "into "

In [2]:
Ho = [ 'Ho','Bui', 'Đoan', 'Le', 'Nguyen', 'Duong', 'Tran', 'Ly', 'Vu', 'Vo', 'Đang', 'Pham', 'Ung', 'An', 'Au','Truong', 'Lai', 'Gian' ]
tendem = ['Van','Thi','Chi','Gia','Hoang', 'Song', 'Tung' ]
ten = ['Ngoc Nhi','An','Anh','Bac','Bao','Cau','Cuc','Đan','Đang','Đuc','Thong','Tien','Tuan','Tin','Tiep','Viet','Vinh','Vu','Vy','Minh','Giang','khanh','Sang','Duy','Chi','Thuong','Chung','Phu','Quoc','Nam','Ngan','Nguyet','May' 
       ,'Tu','Thien','Tan','Han']

## Bảng Đoàn

In [35]:
'''
create table DoAn
(
	MaDoan varchar2(10)  primary key,
    TenDoan nvarchar2(100),
    TenNguoiDangKy nvarchar2(100),
    SoNguoi number
);
'''

MaDoan = ''
TenDoan = ''
NguoiDangKy = ''
SoNguoi = ''
for i in range(1, 51):
    MaDoan = 'D' + str(i)
    TenDoan = 'Doan ' + ''.join(rd.choice(string.ascii_uppercase) for i in range(3))
    NguoiDangKy = rd.choice(Ho) + ' ' + rd.choice(tendem) + ' ' + rd.choice(ten)
    SoNguoi = rd.randint(1, 10)
    
    print (f'{insert}DOAN VALUES(\'{MaDoan}\', \'{TenDoan}\', \'{NguoiDangKy}\', {SoNguoi})')

into DOAN VALUES('D1', 'Doan RDC', 'Ly Chi Cau', 8)
into DOAN VALUES('D2', 'Doan ORL', 'Bui Van Tien', 7)
into DOAN VALUES('D3', 'Doan LUR', 'Nguyen Hoang Bao', 10)
into DOAN VALUES('D4', 'Doan EKC', 'Truong Tung Nam', 4)
into DOAN VALUES('D5', 'Doan QJI', 'Vu Thi Nam', 8)
into DOAN VALUES('D6', 'Doan BDQ', 'Tran Tung May', 4)
into DOAN VALUES('D7', 'Doan UBU', 'Ly Song Thong', 3)
into DOAN VALUES('D8', 'Doan DIB', 'Đoan Gia Viet', 7)
into DOAN VALUES('D9', 'Doan HUR', 'Bui Thi Vinh', 5)
into DOAN VALUES('D10', 'Doan AHH', 'Đang Tung Tu', 9)
into DOAN VALUES('D11', 'Doan HWF', 'Đang Gia Vy', 9)
into DOAN VALUES('D12', 'Doan SYW', 'An Song Vinh', 9)
into DOAN VALUES('D13', 'Doan NXX', 'Đoan Tung Đuc', 5)
into DOAN VALUES('D14', 'Doan GJA', 'Pham Song Đuc', 3)
into DOAN VALUES('D15', 'Doan IPR', 'Vo Thi Giang', 3)
into DOAN VALUES('D16', 'Doan TSO', 'Nguyen Thi Thien', 9)
into DOAN VALUES('D17', 'Doan STC', 'Pham Chi Tan', 3)
into DOAN VALUES('D18', 'Doan UGX', 'Lai Van Cuc', 9)
into DOAN VALUES('D19', 'Doan SLF', 'Ly Thi An', 5)
into DOAN VALUES('D20', 'Doan JYT', 'Vo Song Phu', 6)
into DOAN VALUES('D21', 'Doan TLO', 'Vu Chi Quoc', 5)
into DOAN VALUES('D22', 'Doan DJH', 'Đang Hoang Thien', 4)
into DOAN VALUES('D23', 'Doan ECY', 'Tran Gia Thuong', 3)
into DOAN VALUES('D24', 'Doan BYJ', 'Pham Thi Thong', 1)
into DOAN VALUES('D25', 'Doan NVQ', 'Pham Chi Quoc', 7)
into DOAN VALUES('D26', 'Doan IUN', 'Au Tung Tien', 4)
into DOAN VALUES('D27', 'Doan PBC', 'Vo Chi Cuc', 10)
into DOAN VALUES('D28', 'Doan DYN', 'Đang Gia Bac', 8)
into DOAN VALUES('D29', 'Doan UTP', 'Đoan Gia Đang', 7)
into DOAN VALUES('D30', 'Doan UMG', 'Ung Van Thong', 4)
into DOAN VALUES('D31', 'Doan ICI', 'An Tung Thong', 8)
into DOAN VALUES('D32', 'Doan ASX', 'Vu Chi Anh', 1)
into DOAN VALUES('D33', 'Doan KWJ', 'Ho Chi Ngan', 2)
into DOAN VALUES('D34', 'Doan GVD', 'Pham Hoang Tu', 2)
into DOAN VALUES('D35', 'Doan MRU', 'Pham Hoang Cau', 1)
into DOAN VALUES('D36', 'Doan DWQ', 'Le Hoang Minh', 10)
into DOAN VALUES('D37', 'Doan GYE', 'Bui Van Viet', 3)
into DOAN VALUES('D38', 'Doan ZXD', 'Vo Song Sang', 8)
into DOAN VALUES('D39', 'Doan WNP', 'Gian Thi Đuc', 10)
into DOAN VALUES('D40', 'Doan VLA', 'Vu Van Chung', 8)
into DOAN VALUES('D41', 'Doan ZFA', 'Vo Van Tuan', 8)
into DOAN VALUES('D42', 'Doan OSF', 'Truong Thi Tin', 1)
into DOAN VALUES('D43', 'Doan KFB', 'Pham Thi Chung', 6)
into DOAN VALUES('D44', 'Doan BKB', 'Truong Song Vu', 10)
into DOAN VALUES('D45', 'Doan KTA', 'Pham Chi Han', 8)
into DOAN VALUES('D46', 'Doan PSZ', 'Lai Hoang Minh', 10)
into DOAN VALUES('D47', 'Doan GIP', 'Đang Tung Duy', 10)
into DOAN VALUES('D48', 'Doan ERK', 'Gian Tung Anh', 1)
into DOAN VALUES('D49', 'Doan VKD', 'Gian Van Đan', 6)
into DOAN VALUES('D50', 'Doan WGE', 'Đoan Van Chi', 6)

## Bảng Khách hàng

In [3]:
'''
create table KhachHang 
(
    MaKH varchar2(10)  primary key,
    Ten nvarchar2(50),
    DiaChi nvarchar2(100),
    SoDienThoai varchar2(10),
    Tax varchar2(50),
    Email varchar2(100),
    CMND VARCHAR2(20),
    MaDoan varchar(10),
    Username varchar2(100),
    Password varchar2(100)
);
'''

MaKH = ''
TenKH = ''
DiaChi = '227 Nguyen Van Cu Phuong 4 Quan 5 Thanh pho Ho Chi Minh'
sdt = ''
Tax = '' 
Email = ''
cmnd = ''
MaDoan = ''
username = ''
password = ''

for i in range(1, 51):
    MaKH = f'KH{i}'
    TenKH = rd.choice(Ho) + ' ' + rd.choice(tendem) + ' ' + rd.choice(ten)
    sdt = ''.join([str(rd.randint(0, 9)) for i in range(10)]) # sdt 10 so
    Tax = ''.join([str(rd.randint(0, 9)) for i in range(9)]) # Tax 9 so
    Email = f'{MaKH}@gmail.com'
    cmnd = ''.join([str(rd.randint(0, 9)) for i in range(12)]) # CMND 12 so
    MaDoan = 'D' + str(rd.randint(1, 50))
    username = f'USER_{MaKH}'
    password = '123'

    print (f'{insert}KHACHHANG VALUES(\'{MaKH}\', \'{TenKH}\', \'{MaKH}\', \'{sdt}\', \'{Tax}\', \'{Email}\', \'{cmnd}\', \'{MaDoan}\', \'{username}\', \'{password}\')')

into KHACHHANG VALUES('KH1', 'Vo Song khanh', 'KH1', '5808534471', '922267469', 'KH1@gmail.com', '259408848356', 'D45', 'USER_KH1', '123')
into KHACHHANG VALUES('KH2', 'Pham Song Nam', 'KH2', '4336585325', '956175355', 'KH2@gmail.com', '241207473901', 'D17', 'USER_KH2', '123')
into KHACHHANG VALUES('KH3', 'Vu Van Vy', 'KH3', '3709508952', '178914700', 'KH3@gmail.com', '772678553316', 'D20', 'USER_KH3', '123')
into KHACHHANG VALUES('KH4', 'Pham Thi Vu', 'KH4', '7523635160', '005099924', 'KH4@gmail.com', '266341558308', 'D27', 'USER_KH4', '123')
into KHACHHANG VALUES('KH5', 'Tran Van Phu', 'KH5', '6840721452', '164135341', 'KH5@gmail.com', '370233586694', 'D47', 'USER_KH5', '123')
into KHACHHANG VALUES('KH6', 'Bui Thi khanh', 'KH6', '9666895245', '630518268', 'KH6@gmail.com', '815246022059', 'D31', 'USER_KH6', '123')
into KHACHHANG VALUES('KH7', 'Nguyen Chi Đuc', 'KH7', '6246574849', '603974629', 'KH7@gmail.com', '416294703408', 'D28', 'USER_KH7', '123')
into KHACHHANG VALUES('KH8', 'Bui Chi Minh', 'KH8', '4781819950', '737677460', 'KH8@gmail.com', '315729055901', 'D36', 'USER_KH8', '123')
into KHACHHANG VALUES('KH9', 'Đoan Van Viet', 'KH9', '1219248620', '253704588', 'KH9@gmail.com', '225312967270', 'D12', 'USER_KH9', '123')
into KHACHHANG VALUES('KH10', 'Duong Tung Vy', 'KH10', '5288808737', '774335995', 'KH10@gmail.com', '235259848067', 'D6', 'USER_KH10', '123')
into KHACHHANG VALUES('KH11', 'Bui Hoang Nam', 'KH11', '9542763053', '442928742', 'KH11@gmail.com', '906582990579', 'D45', 'USER_KH11', '123')
into KHACHHANG VALUES('KH12', 'Tran Chi Tan', 'KH12', '9125781461', '776986197', 'KH12@gmail.com', '436376378722', 'D30', 'USER_KH12', '123')
into KHACHHANG VALUES('KH13', 'Ly Hoang Phu', 'KH13', '4461478663', '153991768', 'KH13@gmail.com', '434460742737', 'D3', 'USER_KH13', '123')
into KHACHHANG VALUES('KH14', 'Ly Van Viet', 'KH14', '2336579515', '205144931', 'KH14@gmail.com', '766627852634', 'D49', 'USER_KH14', '123')
into KHACHHANG VALUES('KH15', 'Le Hoang Duy', 'KH15', '6913475081', '829550712', 'KH15@gmail.com', '710598689125', 'D7', 'USER_KH15', '123')
into KHACHHANG VALUES('KH16', 'Ho Song khanh', 'KH16', '1473236929', '896980917', 'KH16@gmail.com', '874555167443', 'D15', 'USER_KH16', '123')
into KHACHHANG VALUES('KH17', 'Au Thi Chung', 'KH17', '6135868925', '090757617', 'KH17@gmail.com', '857667084821', 'D7', 'USER_KH17', '123')
into KHACHHANG VALUES('KH18', 'Ho Thi Ngan', 'KH18', '1137092789', '454585838', 'KH18@gmail.com', '924532018120', 'D29', 'USER_KH18', '123')
into KHACHHANG VALUES('KH19', 'Bui Van Minh', 'KH19', '8155265554', '931198360', 'KH19@gmail.com', '520646154116', 'D31', 'USER_KH19', '123')
into KHACHHANG VALUES('KH20', 'Pham Hoang Vu', 'KH20', '6277953471', '222374026', 'KH20@gmail.com', '394388376683', 'D50', 'USER_KH20', '123')
into KHACHHANG VALUES('KH21', 'Gian Chi Han', 'KH21', '7884020847', '664847592', 'KH21@gmail.com', '087156377233', 'D39', 'USER_KH21', '123')
into KHACHHANG VALUES('KH22', 'Truong Hoang Thuong', 'KH22', '7743201969', '687365378', 'KH22@gmail.com', '293038732571', 'D36', 'USER_KH22', '123')
into KHACHHANG VALUES('KH23', 'Lai Gia Thuong', 'KH23', '9257275185', '611320824', 'KH23@gmail.com', '347919394068', 'D16', 'USER_KH23', '123')
into KHACHHANG VALUES('KH24', 'Ho Van May', 'KH24', '7979552037', '075662159', 'KH24@gmail.com', '681557430937', 'D16', 'USER_KH24', '123')
into KHACHHANG VALUES('KH25', 'Lai Hoang Bao', 'KH25', '9019325342', '194051555', 'KH25@gmail.com', '538966829342', 'D12', 'USER_KH25', '123')
into KHACHHANG VALUES('KH26', 'Duong Song Ngoc Nhi', 'KH26', '5883520720', '612190749', 'KH26@gmail.com', '093278569652', 'D39', 'USER_KH26', '123')
into KHACHHANG VALUES('KH27', 'Nguyen Hoang Thong', 'KH27', '9670217822', '407726683', 'KH27@gmail.com', '481811472227', 'D6', 'USER_KH27', '123')
into KHACHHANG VALUES('KH28', 'Ly Song Chung', 'KH28', '2926066687', '969753159', 'KH28@gmail.com', '262529138106', 'D38', 'USER_KH28', '123')
into KHACHHANG VALUES('KH29', 'Au Tung Bac', 'KH29', '8823438057', '481941669', 'KH29@gmail.com', '480094870694', 'D3', 'USER_KH29', '123')
into KHACHHANG VALUES('KH30', 'Vo Hoang Bao', 'KH30', '2324833744', '464877373', 'KH30@gmail.com', '042810730148', 'D40', 'USER_KH30', '123')
into KHACHHANG VALUES('KH31', 'Vu Van Anh', 'KH31', '3154587483', '634397599', 'KH31@gmail.com', '878498317044', 'D19', 'USER_KH31', '123')
into KHACHHANG VALUES('KH32', 'Ho Tung Han', 'KH32', '3309087525', '107128777', 'KH32@gmail.com', '052025783257', 'D35', 'USER_KH32', '123')
into KHACHHANG VALUES('KH33', 'Ho Song Quoc', 'KH33', '0236970815', '487783159', 'KH33@gmail.com', '728733615138', 'D21', 'USER_KH33', '123')
into KHACHHANG VALUES('KH34', 'Ly Gia Vinh', 'KH34', '3794555424', '452532137', 'KH34@gmail.com', '954456615036', 'D20', 'USER_KH34', '123')
into KHACHHANG VALUES('KH35', 'Bui Chi Vinh', 'KH35', '9859584503', '736417170', 'KH35@gmail.com', '171125109037', 'D45', 'USER_KH35', '123')
into KHACHHANG VALUES('KH36', 'Le Van Quoc', 'KH36', '7566712105', '978376411', 'KH36@gmail.com', '187681395197', 'D18', 'USER_KH36', '123')
into KHACHHANG VALUES('KH37', 'Lai Van Tien', 'KH37', '2953810512', '046005985', 'KH37@gmail.com', '421422954832', 'D5', 'USER_KH37', '123')
into KHACHHANG VALUES('KH38', 'Vu Song khanh', 'KH38', '7388647159', '086356542', 'KH38@gmail.com', '203750278588', 'D7', 'USER_KH38', '123')
into KHACHHANG VALUES('KH39', 'Đang Thi Tu', 'KH39', '3227948705', '635502531', 'KH39@gmail.com', '450008690696', 'D21', 'USER_KH39', '123')
into KHACHHANG VALUES('KH40', 'Đang Gia Viet', 'KH40', '0651282362', '085828121', 'KH40@gmail.com', '769705274420', 'D24', 'USER_KH40', '123')
into KHACHHANG VALUES('KH41', 'Ung Chi An', 'KH41', '3203891997', '133973044', 'KH41@gmail.com', '047691117906', 'D9', 'USER_KH41', '123')
into KHACHHANG VALUES('KH42', 'Nguyen Thi Han', 'KH42', '2326686881', '136033010', 'KH42@gmail.com', '190281949127', 'D12', 'USER_KH42', '123')
into KHACHHANG VALUES('KH43', 'Gian Chi Bao', 'KH43', '6600994933', '175359494', 'KH43@gmail.com', '070312051728', 'D1', 'USER_KH43', '123')
into KHACHHANG VALUES('KH44', 'Duong Chi Vy', 'KH44', '1460165329', '582548149', 'KH44@gmail.com', '594614037819', 'D2', 'USER_KH44', '123')
into KHACHHANG VALUES('KH45', 'Ung Van Tan', 'KH45', '1097033548', '273026832', 'KH45@gmail.com', '993911736691', 'D28', 'USER_KH45', '123')
into KHACHHANG VALUES('KH46', 'Đang Hoang Vy', 'KH46', '5560649116', '782171986', 'KH46@gmail.com', '287554262955', 'D17', 'USER_KH46', '123')
into KHACHHANG VALUES('KH47', 'Vo Hoang Giang', 'KH47', '8156471198', '273439398', 'KH47@gmail.com', '769751253554', 'D8', 'USER_KH47', '123')
into KHACHHANG VALUES('KH48', 'Lai Gia Tien', 'KH48', '3172828313', '178040827', 'KH48@gmail.com', '245796148560', 'D31', 'USER_KH48', '123')
into KHACHHANG VALUES('KH49', 'Duong Tung Vinh', 'KH49', '2161405882', '820335428', 'KH49@gmail.com', '316798765951', 'D8', 'USER_KH49', '123')
into KHACHHANG VALUES('KH50', 'Pham Thi Cuc', 'KH50', '8397166334', '895714180', 'KH50@gmail.com', '334080271256', 'D30', 'USER_KH50', '123')

# Bảng Phòng

In [6]:
'''
create table Phong
(
	MaPhong varchar2(10) primary key,
    Gia number,
    SoGiuong number,
    TrangThaiVeSinh nvarchar2(50),
    LoaiPhong nvarchar2(10)
) ;
'''

MaPhong = ''
Gia = None
SoGiuong = None
TrangThaiVeSinh = ['Đã dọn', 'Chưa dọn']
LoaiPhong = ['Normal', 'VIP1', 'VIP2', 'VIP3', 'GOLD', 'Diamond']

for i in range (1, 31):
    MaPhong = f'PHG{i}'
    TTVeSinh = rd.choice(TrangThaiVeSinh)
    
    LPhong = rd.choice(LoaiPhong)
    if LPhong == 'Normal':
        Gia = 500000
    elif LPhong == 'GOLD':
        Gia = 3000000
    elif LPhong == 'Diamond':
        Gia = 5000000
    else:
        Gia = 1000000

    SoGiuong = '2'

    print (f'{insert}PHONG VALUES(\'{MaPhong}\', {Gia}, {SoGiuong}, \'{TTVeSinh}\', \'{LPhong}\')')

into PHONG VALUES('PHG1', 1000000, 2, 'Đã dọn', 'VIP2')
into PHONG VALUES('PHG2', 1000000, 2, 'Đã dọn', 'VIP1')
into PHONG VALUES('PHG3', 1000000, 2, 'Đã dọn', 'VIP1')
into PHONG VALUES('PHG4', 500000, 2, 'Đã dọn', 'Normal')
into PHONG VALUES('PHG5', 1000000, 2, 'Chưa dọn', 'VIP3')
into PHONG VALUES('PHG6', 5000000, 2, 'Đã dọn', 'Diamond')
into PHONG VALUES('PHG7', 5000000, 2, 'Đã dọn', 'Diamond')
into PHONG VALUES('PHG8', 5000000, 2, 'Chưa dọn', 'Diamond')
into PHONG VALUES('PHG9', 1000000, 2, 'Đã dọn', 'VIP3')
into PHONG VALUES('PHG10', 3000000, 2, 'Chưa dọn', 'GOLD')
into PHONG VALUES('PHG11', 3000000, 2, 'Chưa dọn', 'GOLD')
into PHONG VALUES('PHG12', 1000000, 2, 'Đã dọn', 'VIP1')
into PHONG VALUES('PHG13', 1000000, 2, 'Chưa dọn', 'VIP2')
into PHONG VALUES('PHG14', 3000000, 2, 'Chưa dọn', 'GOLD')
into PHONG VALUES('PHG15', 1000000, 2, 'Chưa dọn', 'VIP3')
into PHONG VALUES('PHG16', 5000000, 2, 'Chưa dọn', 'Diamond')
into PHONG VALUES('PHG17', 5000000, 2, 'Chưa dọn', 'Diamond')
into PHONG VALUES('PHG18', 1000000, 2, 'Đã dọn', 'VIP3')
into PHONG VALUES('PHG19', 1000000, 2, 'Đã dọn', 'VIP3')
into PHONG VALUES('PHG20', 1000000, 2, 'Chưa dọn', 'VIP3')
into PHONG VALUES('PHG21', 5000000, 2, 'Chưa dọn', 'Diamond')
into PHONG VALUES('PHG22', 500000, 2, 'Đã dọn', 'Normal')
into PHONG VALUES('PHG23', 5000000, 2, 'Chưa dọn', 'Diamond')
into PHONG VALUES('PHG24', 5000000, 2, 'Chưa dọn', 'Diamond')
into PHONG VALUES('PHG25', 1000000, 2, 'Đã dọn', 'VIP1')
into PHONG VALUES('PHG26', 3000000, 2, 'Đã dọn', 'GOLD')
into PHONG VALUES('PHG27', 1000000, 2, 'Đã dọn', 'VIP2')
into PHONG VALUES('PHG28', 500000, 2, 'Đã dọn', 'Normal')
into PHONG VALUES('PHG29', 3000000, 2, 'Đã dọn', 'GOLD')
into PHONG VALUES('PHG30', 3000000, 2, 'Chưa dọn', 'GOLD')

# Bảng Danh Sách Tham Gia Tour

In [24]:
'''
create table DanhSachThamGiaTour
(
	MaThamGiaTour varchar2(10) not null,
	Tour varchar2(10),
	KhachHang varchar2(10),
	NgayBatDau date,

	Constraint PK_DSThamGiaTour
	Primary key (MaThamGiaTour)
) ;
'''

MaThamGiaTour = ''
Tour = ''
KhachHang = ''
NgayBatDau = ''

for i in range (1, 51):
	if i < 10:
		MaThamGiaTour = f'TG0{i}' 
	else:
		MaThamGiaTour = f'TG{i}'
	
	Tour = 'T0' + str(rd.randint(1, 12))
	KhachHang = 'KH' + str(rd.randint(1, 50))
	NgayBatDau = f'{rd.randint(1, 30)}-{rd.randint(1, 12)}-{rd.randint(2020, 2023)}'
	print (f'{insert}DANHSACHTHAMGIATOUR VALUES (\'{MaThamGiaTour}\', \'{Tour}\', \'{KhachHang}\', TO_DATE(\'{NgayBatDau}\',\'DD-MM-YYYY\'))')

into DANHSACHTHAMGIATOUR VALUES ('TG01', 'T011', 'KH24', TO_DATE('22-7-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG02', 'T04', 'KH16', TO_DATE('7-12-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG03', 'T03', 'KH44', TO_DATE('1-8-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG04', 'T01', 'KH8', TO_DATE('23-10-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG05', 'T09', 'KH19', TO_DATE('1-1-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG06', 'T05', 'KH23', TO_DATE('13-8-2020','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG07', 'T06', 'KH12', TO_DATE('22-8-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG08', 'T04', 'KH16', TO_DATE('4-10-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG09', 'T07', 'KH33', TO_DATE('4-7-2020','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG10', 'T07', 'KH42', TO_DATE('16-12-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG11', 'T01', 'KH46', TO_DATE('18-3-2020','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG12', 'T010', 'KH21', TO_DATE('23-6-2023','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG13', 'T012', 'KH6', TO_DATE('26-5-2020','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG14', 'T08', 'KH50', TO_DATE('15-12-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG15', 'T05', 'KH36', TO_DATE('20-9-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG16', 'T01', 'KH42', TO_DATE('21-6-2023','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG17', 'T02', 'KH12', TO_DATE('4-9-2023','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG18', 'T09', 'KH45', TO_DATE('30-12-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG19', 'T04', 'KH39', TO_DATE('12-6-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG20', 'T010', 'KH7', TO_DATE('20-2-2023','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG21', 'T06', 'KH11', TO_DATE('11-3-2023','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG22', 'T02', 'KH14', TO_DATE('10-5-2023','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG23', 'T06', 'KH4', TO_DATE('2-9-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG24', 'T07', 'KH6', TO_DATE('7-4-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG25', 'T012', 'KH8', TO_DATE('7-10-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG26', 'T012', 'KH30', TO_DATE('12-10-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG27', 'T03', 'KH10', TO_DATE('19-9-2023','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG28', 'T01', 'KH49', TO_DATE('5-12-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG29', 'T08', 'KH3', TO_DATE('15-10-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG30', 'T07', 'KH49', TO_DATE('23-5-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG31', 'T04', 'KH8', TO_DATE('5-11-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG32', 'T012', 'KH46', TO_DATE('3-10-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG33', 'T010', 'KH21', TO_DATE('27-10-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG34', 'T02', 'KH31', TO_DATE('8-6-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG35', 'T012', 'KH13', TO_DATE('5-10-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG36', 'T06', 'KH44', TO_DATE('19-1-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG37', 'T03', 'KH31', TO_DATE('7-5-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG38', 'T08', 'KH29', TO_DATE('23-5-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG39', 'T09', 'KH20', TO_DATE('6-10-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG40', 'T07', 'KH33', TO_DATE('10-12-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG41', 'T06', 'KH13', TO_DATE('9-8-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG42', 'T03', 'KH1', TO_DATE('28-11-2023','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG43', 'T012', 'KH6', TO_DATE('4-11-2023','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG44', 'T07', 'KH35', TO_DATE('4-4-2020','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG45', 'T05', 'KH16', TO_DATE('7-9-2022','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG46', 'T03', 'KH14', TO_DATE('5-8-2020','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG47', 'T05', 'KH11', TO_DATE('22-3-2023','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG48', 'T06', 'KH16', TO_DATE('26-7-2020','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG49', 'T05', 'KH23', TO_DATE('25-9-2021','DD-MM-YYYY'))
into DANHSACHTHAMGIATOUR VALUES ('TG50', 'T04', 'KH11', TO_DATE('15-1-2023','DD-MM-YYYY'))

# Bảng Phiếu đặt phòng

In [23]:
'''
create table PhieuDatPhong
 (
	MaPhieu varchar2(10) primary key,
	TrangThai varchar2(20),
	DKVanChuyenHanhLy varchar2(10),
	YeuCauDacBiet nvarchar2(40),
	NgayLap date,
	MaDaiLy varchar2(10),
	MaKhachHang varchar2(10),
	NhanVienXuLy varchar2(10)
) ;
'''

MaPhieu = ''
TrangThai = ['']
DKVanChuyenHanhLy = ['Có', 'Không']
YeuCauDacBiet = ['Không', 'Phòng view biển', 'Rượu vang 1969', 'Bít tết']
NgayLap = ''
MaDaiLy = ''
MaKH = ''
NhanVienXuLi = ''

for i in range (1, 51):
	MaPhieu = f'PHI{i}'
	TrangThai = 'NULL'
	vanchuyen = rd.choice(DKVanChuyenHanhLy)
	ycdc = rd.choice(YeuCauDacBiet)
	NgayLap = f'{rd.randint(1, 30)}-{rd.randint(1, 12)}-{rd.randint(2020, 2023)}'
	MaDaiLy = 'DL0' + str(rd.randint(1, 5))
	MaKH = 'KH' + str(rd.randint(1, 50))
	NhanVienXuLi = 'NV00' + str(rd.randint(1, 20))

	print (f'{insert}PhieuDatPhong VALUES(\'{MaPhieu}\', \'{TrangThai}\', \'{vanchuyen}\', \'{ycdc}\', TO_DATE(\'{NgayLap}\',\'DD-MM-YYYY\'), \'{MaDaiLy}\', \'{MaKH}\', \'{NhanVienXuLi}\')')

into PhieuDatPhong VALUES('PHI1', 'NULL', 'Có', 'Bít tết', TO_DATE('29-9-2021','DD-MM-YYYY'), 'DL05', 'KH22', 'NV0013')
into PhieuDatPhong VALUES('PHI2', 'NULL', 'Có', 'Không', TO_DATE('8-11-2022','DD-MM-YYYY'), 'DL05', 'KH22', 'NV007')
into PhieuDatPhong VALUES('PHI3', 'NULL', 'Không', 'Không', TO_DATE('3-3-2021','DD-MM-YYYY'), 'DL04', 'KH24', 'NV0020')
into PhieuDatPhong VALUES('PHI4', 'NULL', 'Không', 'Phòng view biển', TO_DATE('29-4-2023','DD-MM-YYYY'), 'DL03', 'KH50', 'NV003')
into PhieuDatPhong VALUES('PHI5', 'NULL', 'Không', 'Rượu vang 1969', TO_DATE('22-4-2021','DD-MM-YYYY'), 'DL01', 'KH20', 'NV006')
into PhieuDatPhong VALUES('PHI6', 'NULL', 'Có', 'Không', TO_DATE('28-8-2023','DD-MM-YYYY'), 'DL03', 'KH7', 'NV006')
into PhieuDatPhong VALUES('PHI7', 'NULL', 'Có', 'Không', TO_DATE('23-1-2021','DD-MM-YYYY'), 'DL02', 'KH38', 'NV003')
into PhieuDatPhong VALUES('PHI8', 'NULL', 'Không', 'Bít tết', TO_DATE('26-3-2023','DD-MM-YYYY'), 'DL02', 'KH32', 'NV0017')
into PhieuDatPhong VALUES('PHI9', 'NULL', 'Có', 'Rượu vang 1969', TO_DATE('17-8-2022','DD-MM-YYYY'), 'DL05', 'KH8', 'NV0014')
into PhieuDatPhong VALUES('PHI10', 'NULL', 'Có', 'Bít tết', TO_DATE('4-1-2021','DD-MM-YYYY'), 'DL04', 'KH8', 'NV005')
into PhieuDatPhong VALUES('PHI11', 'NULL', 'Không', 'Bít tết', TO_DATE('9-9-2020','DD-MM-YYYY'), 'DL04', 'KH38', 'NV007')
into PhieuDatPhong VALUES('PHI12', 'NULL', 'Không', 'Bít tết', TO_DATE('9-7-2021','DD-MM-YYYY'), 'DL03', 'KH49', 'NV0015')
into PhieuDatPhong VALUES('PHI13', 'NULL', 'Có', 'Phòng view biển', TO_DATE('16-2-2023','DD-MM-YYYY'), 'DL05', 'KH34', 'NV002')
into PhieuDatPhong VALUES('PHI14', 'NULL', 'Không', 'Rượu vang 1969', TO_DATE('23-3-2021','DD-MM-YYYY'), 'DL04', 'KH46', 'NV008')
into PhieuDatPhong VALUES('PHI15', 'NULL', 'Có', 'Bít tết', TO_DATE('23-3-2023','DD-MM-YYYY'), 'DL01', 'KH49', 'NV0018')
into PhieuDatPhong VALUES('PHI16', 'NULL', 'Không', 'Bít tết', TO_DATE('8-11-2020','DD-MM-YYYY'), 'DL04', 'KH34', 'NV0010')
into PhieuDatPhong VALUES('PHI17', 'NULL', 'Không', 'Bít tết', TO_DATE('1-1-2023','DD-MM-YYYY'), 'DL05', 'KH12', 'NV005')
into PhieuDatPhong VALUES('PHI18', 'NULL', 'Có', 'Phòng view biển', TO_DATE('12-2-2022','DD-MM-YYYY'), 'DL02', 'KH31', 'NV0014')
into PhieuDatPhong VALUES('PHI19', 'NULL', 'Có', 'Không', TO_DATE('23-1-2020','DD-MM-YYYY'), 'DL03', 'KH20', 'NV005')
into PhieuDatPhong VALUES('PHI20', 'NULL', 'Có', 'Không', TO_DATE('2-4-2020','DD-MM-YYYY'), 'DL05', 'KH13', 'NV0014')
into PhieuDatPhong VALUES('PHI21', 'NULL', 'Có', 'Phòng view biển', TO_DATE('11-2-2022','DD-MM-YYYY'), 'DL05', 'KH19', 'NV002')
into PhieuDatPhong VALUES('PHI22', 'NULL', 'Có', 'Phòng view biển', TO_DATE('24-7-2021','DD-MM-YYYY'), 'DL05', 'KH16', 'NV008')
into PhieuDatPhong VALUES('PHI23', 'NULL', 'Có', 'Rượu vang 1969', TO_DATE('19-5-2023','DD-MM-YYYY'), 'DL05', 'KH17', 'NV0010')
into PhieuDatPhong VALUES('PHI24', 'NULL', 'Có', 'Phòng view biển', TO_DATE('11-4-2021','DD-MM-YYYY'), 'DL05', 'KH8', 'NV001')
into PhieuDatPhong VALUES('PHI25', 'NULL', 'Không', 'Phòng view biển', TO_DATE('3-2-2020','DD-MM-YYYY'), 'DL05', 'KH30', 'NV0013')
into PhieuDatPhong VALUES('PHI26', 'NULL', 'Có', 'Bít tết', TO_DATE('1-8-2022','DD-MM-YYYY'), 'DL01', 'KH47', 'NV002')
into PhieuDatPhong VALUES('PHI27', 'NULL', 'Không', 'Không', TO_DATE('8-3-2021','DD-MM-YYYY'), 'DL03', 'KH1', 'NV0016')
into PhieuDatPhong VALUES('PHI28', 'NULL', 'Có', 'Không', TO_DATE('22-5-2021','DD-MM-YYYY'), 'DL04', 'KH18', 'NV009')
into PhieuDatPhong VALUES('PHI29', 'NULL', 'Không', 'Phòng view biển', TO_DATE('8-9-2023','DD-MM-YYYY'), 'DL02', 'KH3', 'NV0016')
into PhieuDatPhong VALUES('PHI30', 'NULL', 'Không', 'Rượu vang 1969', TO_DATE('29-7-2022','DD-MM-YYYY'), 'DL05', 'KH48', 'NV0018')
into PhieuDatPhong VALUES('PHI31', 'NULL', 'Có', 'Rượu vang 1969', TO_DATE('7-2-2020','DD-MM-YYYY'), 'DL05', 'KH27', 'NV0013')
into PhieuDatPhong VALUES('PHI32', 'NULL', 'Có', 'Phòng view biển', TO_DATE('23-5-2022','DD-MM-YYYY'), 'DL03', 'KH6', 'NV0014')
into PhieuDatPhong VALUES('PHI33', 'NULL', 'Có', 'Không', TO_DATE('22-5-2021','DD-MM-YYYY'), 'DL03', 'KH21', 'NV0013')
into PhieuDatPhong VALUES('PHI34', 'NULL', 'Có', 'Phòng view biển', TO_DATE('19-3-2021','DD-MM-YYYY'), 'DL03', 'KH38', 'NV001')
into PhieuDatPhong VALUES('PHI35', 'NULL', 'Có', 'Phòng view biển', TO_DATE('30-9-2020','DD-MM-YYYY'), 'DL05', 'KH12', 'NV004')
into PhieuDatPhong VALUES('PHI36', 'NULL', 'Có', 'Phòng view biển', TO_DATE('11-4-2023','DD-MM-YYYY'), 'DL01', 'KH47', 'NV006')
into PhieuDatPhong VALUES('PHI37', 'NULL', 'Có', 'Không', TO_DATE('21-2-2023','DD-MM-YYYY'), 'DL01', 'KH10', 'NV0019')
into PhieuDatPhong VALUES('PHI38', 'NULL', 'Không', 'Phòng view biển', TO_DATE('29-8-2023','DD-MM-YYYY'), 'DL05', 'KH32', 'NV001')
into PhieuDatPhong VALUES('PHI39', 'NULL', 'Có', 'Bít tết', TO_DATE('4-9-2021','DD-MM-YYYY'), 'DL05', 'KH32', 'NV0014')
into PhieuDatPhong VALUES('PHI40', 'NULL', 'Không', 'Không', TO_DATE('19-8-2023','DD-MM-YYYY'), 'DL01', 'KH44', 'NV004')
into PhieuDatPhong VALUES('PHI41', 'NULL', 'Có', 'Rượu vang 1969', TO_DATE('1-10-2023','DD-MM-YYYY'), 'DL02', 'KH1', 'NV005')
into PhieuDatPhong VALUES('PHI42', 'NULL', 'Có', 'Rượu vang 1969', TO_DATE('24-6-2022','DD-MM-YYYY'), 'DL02', 'KH32', 'NV0016')
into PhieuDatPhong VALUES('PHI43', 'NULL', 'Không', 'Rượu vang 1969', TO_DATE('23-1-2022','DD-MM-YYYY'), 'DL05', 'KH12', 'NV009')
into PhieuDatPhong VALUES('PHI44', 'NULL', 'Không', 'Phòng view biển', TO_DATE('27-3-2023','DD-MM-YYYY'), 'DL01', 'KH19', 'NV005')
into PhieuDatPhong VALUES('PHI45', 'NULL', 'Có', 'Phòng view biển', TO_DATE('2-2-2021','DD-MM-YYYY'), 'DL01', 'KH5', 'NV0015')
into PhieuDatPhong VALUES('PHI46', 'NULL', 'Có', 'Rượu vang 1969', TO_DATE('17-3-2020','DD-MM-YYYY'), 'DL04', 'KH30', 'NV0020')
into PhieuDatPhong VALUES('PHI47', 'NULL', 'Có', 'Không', TO_DATE('4-9-2023','DD-MM-YYYY'), 'DL02', 'KH46', 'NV008')
into PhieuDatPhong VALUES('PHI48', 'NULL', 'Có', 'Rượu vang 1969', TO_DATE('4-9-2022','DD-MM-YYYY'), 'DL02', 'KH17', 'NV0013')
into PhieuDatPhong VALUES('PHI49', 'NULL', 'Không', 'Rượu vang 1969', TO_DATE('28-7-2020','DD-MM-YYYY'), 'DL03', 'KH35', 'NV0011')
into PhieuDatPhong VALUES('PHI50', 'NULL', 'Có', 'Rượu vang 1969', TO_DATE('18-2-2022','DD-MM-YYYY'), 'DL04', 'KH9', 'NV004')

# Bảng Danh sách đặt phòng

In [22]:
'''
create table DanhSachDatPhong
(
	MaDatPhong varchar2(10) not null,
	NgayDen date,
	ThoiGianLuuTru int,
	MaPhong varchar2(10),
	MaPhieuDatPhong varchar2(10),

	Constraint PK_DSDatPhong
	Primary key (MaDatPhong)
) ;
'''

MaDatPhong = ''
NgayDen = ''
ThoiGianLuuTru = None
MaPhong = ''
MaPhieuDatPhong = ''

for i in range (1, 51): 
    MaDatPhong = f'DS00{i}'
    NgayDen = f'{rd.randint(1, 30)}-{rd.randint(1, 12)}-{rd.randint(2020, 2023)}'
    ThoiGianLuuTru = rd.randint(1, 5)
    MaPhong = 'PHG' + str(rd.randint(1, 30))
    MaPhieuDatPhong = 'PHI' + str(rd.randint(1, 50))
    print(f'{insert}DanhSachDatPhong VALUES(\'{MaDatPhong}\',  TO_DATE(\'{NgayDen}\',\'DD-MM-YYYY\'), {ThoiGianLuuTru}, \'{MaPhong}\', \'{MaPhieuDatPhong}\')')

into DanhSachDatPhong VALUES('DS001',  TO_DATE('5-7-2022','DD-MM-YYYY'), 5, 'PHG19', 'PHI49')
into DanhSachDatPhong VALUES('DS002',  TO_DATE('25-7-2023','DD-MM-YYYY'), 5, 'PHG28', 'PHI7')
into DanhSachDatPhong VALUES('DS003',  TO_DATE('1-1-2022','DD-MM-YYYY'), 4, 'PHG12', 'PHI14')
into DanhSachDatPhong VALUES('DS004',  TO_DATE('20-3-2020','DD-MM-YYYY'), 1, 'PHG23', 'PHI36')
into DanhSachDatPhong VALUES('DS005',  TO_DATE('13-4-2020','DD-MM-YYYY'), 4, 'PHG29', 'PHI24')
into DanhSachDatPhong VALUES('DS006',  TO_DATE('29-3-2020','DD-MM-YYYY'), 1, 'PHG3', 'PHI33')
into DanhSachDatPhong VALUES('DS007',  TO_DATE('29-8-2021','DD-MM-YYYY'), 3, 'PHG15', 'PHI29')
into DanhSachDatPhong VALUES('DS008',  TO_DATE('2-5-2021','DD-MM-YYYY'), 5, 'PHG21', 'PHI3')
into DanhSachDatPhong VALUES('DS009',  TO_DATE('27-6-2021','DD-MM-YYYY'), 2, 'PHG2', 'PHI35')
into DanhSachDatPhong VALUES('DS0010',  TO_DATE('26-11-2023','DD-MM-YYYY'), 3, 'PHG13', 'PHI20')
into DanhSachDatPhong VALUES('DS0011',  TO_DATE('10-4-2022','DD-MM-YYYY'), 1, 'PHG27', 'PHI1')
into DanhSachDatPhong VALUES('DS0012',  TO_DATE('1-6-2021','DD-MM-YYYY'), 4, 'PHG18', 'PHI47')
into DanhSachDatPhong VALUES('DS0013',  TO_DATE('17-1-2020','DD-MM-YYYY'), 1, 'PHG25', 'PHI49')
into DanhSachDatPhong VALUES('DS0014',  TO_DATE('4-12-2023','DD-MM-YYYY'), 4, 'PHG29', 'PHI36')
into DanhSachDatPhong VALUES('DS0015',  TO_DATE('25-6-2022','DD-MM-YYYY'), 4, 'PHG22', 'PHI37')
into DanhSachDatPhong VALUES('DS0016',  TO_DATE('11-8-2022','DD-MM-YYYY'), 1, 'PHG24', 'PHI34')
into DanhSachDatPhong VALUES('DS0017',  TO_DATE('30-7-2023','DD-MM-YYYY'), 4, 'PHG11', 'PHI29')
into DanhSachDatPhong VALUES('DS0018',  TO_DATE('16-9-2023','DD-MM-YYYY'), 4, 'PHG29', 'PHI12')
into DanhSachDatPhong VALUES('DS0019',  TO_DATE('9-11-2023','DD-MM-YYYY'), 2, 'PHG1', 'PHI5')
into DanhSachDatPhong VALUES('DS0020',  TO_DATE('4-8-2021','DD-MM-YYYY'), 5, 'PHG11', 'PHI27')
into DanhSachDatPhong VALUES('DS0021',  TO_DATE('22-9-2022','DD-MM-YYYY'), 1, 'PHG14', 'PHI49')
into DanhSachDatPhong VALUES('DS0022',  TO_DATE('30-7-2020','DD-MM-YYYY'), 2, 'PHG6', 'PHI9')
into DanhSachDatPhong VALUES('DS0023',  TO_DATE('12-3-2022','DD-MM-YYYY'), 5, 'PHG10', 'PHI2')
into DanhSachDatPhong VALUES('DS0024',  TO_DATE('7-8-2021','DD-MM-YYYY'), 5, 'PHG16', 'PHI43')
into DanhSachDatPhong VALUES('DS0025',  TO_DATE('27-9-2020','DD-MM-YYYY'), 1, 'PHG15', 'PHI3')
into DanhSachDatPhong VALUES('DS0026',  TO_DATE('4-7-2023','DD-MM-YYYY'), 1, 'PHG19', 'PHI46')
into DanhSachDatPhong VALUES('DS0027',  TO_DATE('2-9-2022','DD-MM-YYYY'), 4, 'PHG7', 'PHI28')
into DanhSachDatPhong VALUES('DS0028',  TO_DATE('28-8-2022','DD-MM-YYYY'), 3, 'PHG9', 'PHI23')
into DanhSachDatPhong VALUES('DS0029',  TO_DATE('22-2-2022','DD-MM-YYYY'), 1, 'PHG1', 'PHI14')
into DanhSachDatPhong VALUES('DS0030',  TO_DATE('7-10-2020','DD-MM-YYYY'), 5, 'PHG15', 'PHI47')
into DanhSachDatPhong VALUES('DS0031',  TO_DATE('20-1-2020','DD-MM-YYYY'), 2, 'PHG29', 'PHI36')
into DanhSachDatPhong VALUES('DS0032',  TO_DATE('19-10-2022','DD-MM-YYYY'), 1, 'PHG20', 'PHI8')
into DanhSachDatPhong VALUES('DS0033',  TO_DATE('28-10-2021','DD-MM-YYYY'), 2, 'PHG12', 'PHI37')
into DanhSachDatPhong VALUES('DS0034',  TO_DATE('1-1-2022','DD-MM-YYYY'), 4, 'PHG10', 'PHI12')
into DanhSachDatPhong VALUES('DS0035',  TO_DATE('13-3-2021','DD-MM-YYYY'), 4, 'PHG20', 'PHI21')
into DanhSachDatPhong VALUES('DS0036',  TO_DATE('28-10-2021','DD-MM-YYYY'), 5, 'PHG17', 'PHI37')
into DanhSachDatPhong VALUES('DS0037',  TO_DATE('6-7-2023','DD-MM-YYYY'), 3, 'PHG24', 'PHI18')
into DanhSachDatPhong VALUES('DS0038',  TO_DATE('4-11-2021','DD-MM-YYYY'), 3, 'PHG13', 'PHI3')
into DanhSachDatPhong VALUES('DS0039',  TO_DATE('22-4-2021','DD-MM-YYYY'), 3, 'PHG30', 'PHI21')
into DanhSachDatPhong VALUES('DS0040',  TO_DATE('25-12-2020','DD-MM-YYYY'), 4, 'PHG13', 'PHI44')
into DanhSachDatPhong VALUES('DS0041',  TO_DATE('14-5-2020','DD-MM-YYYY'), 1, 'PHG24', 'PHI45')
into DanhSachDatPhong VALUES('DS0042',  TO_DATE('15-2-2020','DD-MM-YYYY'), 2, 'PHG14', 'PHI43')
into DanhSachDatPhong VALUES('DS0043',  TO_DATE('12-2-2022','DD-MM-YYYY'), 3, 'PHG23', 'PHI6')
into DanhSachDatPhong VALUES('DS0044',  TO_DATE('2-5-2022','DD-MM-YYYY'), 2, 'PHG28', 'PHI39')
into DanhSachDatPhong VALUES('DS0045',  TO_DATE('21-10-2021','DD-MM-YYYY'), 1, 'PHG22', 'PHI14')
into DanhSachDatPhong VALUES('DS0046',  TO_DATE('29-8-2020','DD-MM-YYYY'), 5, 'PHG2', 'PHI1')
into DanhSachDatPhong VALUES('DS0047',  TO_DATE('29-1-2020','DD-MM-YYYY'), 1, 'PHG19', 'PHI20')
into DanhSachDatPhong VALUES('DS0048',  TO_DATE('17-10-2022','DD-MM-YYYY'), 4, 'PHG13', 'PHI24')
into DanhSachDatPhong VALUES('DS0049',  TO_DATE('20-1-2022','DD-MM-YYYY'), 4, 'PHG16', 'PHI46')
into DanhSachDatPhong VALUES('DS0050',  TO_DATE('12-12-2023','DD-MM-YYYY'), 5, 'PHG26', 'PHI22')

# Bảng Hồ sơ thanh toán

In [21]:
'''
create table HoSoThanhToan
(
	MaHoSo varchar2(10) not null,
	NgayLap date,
	NoiDung varchar2(40),
	NgayThanhToan date,
	TongTien int,
	KeToan varchar2(10),
    PhongDat varchar2(10),

    Constraint PK_HoSoThanhToan  
    Primary key (MaHoSo)
) ;
'''

MaHoSo = ''
NgayLap = ''
NoiDung = ''
NgayThanhToan = ''
TongTien = None
KeToan = ''
PhongDat = ''

for i in range (1, 31):
    PhongDat = 'DS00' + str(rd.randint(1, 50))
    MaHoSo = f'HS0{i}'
    NgayLap = NgayThanhToan = f'{rd.randint(1, 30)}-{rd.randint(1, 12)}-{rd.randint(2020, 2023)}'
    NoiDung = f'Thanh toán cho phòng {PhongDat}'
    TongTien = rd.randint(5, 10) * 1000000
    KeToan = 'NV0020'

    print (f'{insert}HOSOTHANHTOAN VALUES(\'{MaHoSo}\', TO_DATE(\'{NgayLap}\',\'DD-MM-YYYY\'), \'{NoiDung}\', TO_DATE(\'{NgayThanhToan}\',\'DD-MM-YYYY\'), \'{TongTien}\', \'{KeToan}\', \'{PhongDat}\')')

into HOSOTHANHTOAN VALUES('HS01', TO_DATE('17-10-2022','DD-MM-YYYY'), 'Thanh toán cho phòng DS0041', TO_DATE('17-10-2022','DD-MM-YYYY'), '6000000', 'NV0020', 'DS0041')
into HOSOTHANHTOAN VALUES('HS02', TO_DATE('16-9-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS0038', TO_DATE('16-9-2020','DD-MM-YYYY'), '8000000', 'NV0020', 'DS0038')
into HOSOTHANHTOAN VALUES('HS03', TO_DATE('20-1-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS006', TO_DATE('20-1-2020','DD-MM-YYYY'), '8000000', 'NV0020', 'DS006')
into HOSOTHANHTOAN VALUES('HS04', TO_DATE('6-1-2022','DD-MM-YYYY'), 'Thanh toán cho phòng DS0038', TO_DATE('6-1-2022','DD-MM-YYYY'), '8000000', 'NV0020', 'DS0038')
into HOSOTHANHTOAN VALUES('HS05', TO_DATE('2-2-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS0010', TO_DATE('2-2-2020','DD-MM-YYYY'), '10000000', 'NV0020', 'DS0010')
into HOSOTHANHTOAN VALUES('HS06', TO_DATE('24-3-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS0018', TO_DATE('24-3-2020','DD-MM-YYYY'), '9000000', 'NV0020', 'DS0018')
into HOSOTHANHTOAN VALUES('HS07', TO_DATE('12-1-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS0045', TO_DATE('12-1-2020','DD-MM-YYYY'), '10000000', 'NV0020', 'DS0045')
into HOSOTHANHTOAN VALUES('HS08', TO_DATE('30-8-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS001', TO_DATE('30-8-2020','DD-MM-YYYY'), '9000000', 'NV0020', 'DS001')
into HOSOTHANHTOAN VALUES('HS09', TO_DATE('16-4-2022','DD-MM-YYYY'), 'Thanh toán cho phòng DS0039', TO_DATE('16-4-2022','DD-MM-YYYY'), '5000000', 'NV0020', 'DS0039')
into HOSOTHANHTOAN VALUES('HS010', TO_DATE('8-5-2022','DD-MM-YYYY'), 'Thanh toán cho phòng DS0045', TO_DATE('8-5-2022','DD-MM-YYYY'), '9000000', 'NV0020', 'DS0045')
into HOSOTHANHTOAN VALUES('HS011', TO_DATE('22-1-2022','DD-MM-YYYY'), 'Thanh toán cho phòng DS0048', TO_DATE('22-1-2022','DD-MM-YYYY'), '6000000', 'NV0020', 'DS0048')
into HOSOTHANHTOAN VALUES('HS012', TO_DATE('18-2-2023','DD-MM-YYYY'), 'Thanh toán cho phòng DS0042', TO_DATE('18-2-2023','DD-MM-YYYY'), '8000000', 'NV0020', 'DS0042')
into HOSOTHANHTOAN VALUES('HS013', TO_DATE('11-12-2022','DD-MM-YYYY'), 'Thanh toán cho phòng DS0032', TO_DATE('11-12-2022','DD-MM-YYYY'), '7000000', 'NV0020', 'DS0032')
into HOSOTHANHTOAN VALUES('HS014', TO_DATE('22-5-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS0031', TO_DATE('22-5-2020','DD-MM-YYYY'), '5000000', 'NV0020', 'DS0031')
into HOSOTHANHTOAN VALUES('HS015', TO_DATE('22-3-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS0050', TO_DATE('22-3-2020','DD-MM-YYYY'), '9000000', 'NV0020', 'DS0050')
into HOSOTHANHTOAN VALUES('HS016', TO_DATE('26-10-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS0039', TO_DATE('26-10-2020','DD-MM-YYYY'), '8000000', 'NV0020', 'DS0039')
into HOSOTHANHTOAN VALUES('HS017', TO_DATE('28-2-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS0016', TO_DATE('28-2-2020','DD-MM-YYYY'), '5000000', 'NV0020', 'DS0016')
into HOSOTHANHTOAN VALUES('HS018', TO_DATE('18-12-2023','DD-MM-YYYY'), 'Thanh toán cho phòng DS008', TO_DATE('18-12-2023','DD-MM-YYYY'), '5000000', 'NV0020', 'DS008')
into HOSOTHANHTOAN VALUES('HS019', TO_DATE('6-1-2022','DD-MM-YYYY'), 'Thanh toán cho phòng DS0041', TO_DATE('6-1-2022','DD-MM-YYYY'), '6000000', 'NV0020', 'DS0041')
into HOSOTHANHTOAN VALUES('HS020', TO_DATE('19-2-2023','DD-MM-YYYY'), 'Thanh toán cho phòng DS0013', TO_DATE('19-2-2023','DD-MM-YYYY'), '8000000', 'NV0020', 'DS0013')
into HOSOTHANHTOAN VALUES('HS021', TO_DATE('1-5-2021','DD-MM-YYYY'), 'Thanh toán cho phòng DS006', TO_DATE('1-5-2021','DD-MM-YYYY'), '5000000', 'NV0020', 'DS006')
into HOSOTHANHTOAN VALUES('HS022', TO_DATE('4-1-2021','DD-MM-YYYY'), 'Thanh toán cho phòng DS001', TO_DATE('4-1-2021','DD-MM-YYYY'), '7000000', 'NV0020', 'DS001')
into HOSOTHANHTOAN VALUES('HS023', TO_DATE('4-5-2022','DD-MM-YYYY'), 'Thanh toán cho phòng DS0023', TO_DATE('4-5-2022','DD-MM-YYYY'), '5000000', 'NV0020', 'DS0023')
into HOSOTHANHTOAN VALUES('HS024', TO_DATE('7-12-2021','DD-MM-YYYY'), 'Thanh toán cho phòng DS007', TO_DATE('7-12-2021','DD-MM-YYYY'), '6000000', 'NV0020', 'DS007')
into HOSOTHANHTOAN VALUES('HS025', TO_DATE('2-6-2021','DD-MM-YYYY'), 'Thanh toán cho phòng DS005', TO_DATE('2-6-2021','DD-MM-YYYY'), '7000000', 'NV0020', 'DS005')
into HOSOTHANHTOAN VALUES('HS026', TO_DATE('1-10-2021','DD-MM-YYYY'), 'Thanh toán cho phòng DS0018', TO_DATE('1-10-2021','DD-MM-YYYY'), '10000000', 'NV0020', 'DS0018')
into HOSOTHANHTOAN VALUES('HS027', TO_DATE('27-10-2023','DD-MM-YYYY'), 'Thanh toán cho phòng DS0026', TO_DATE('27-10-2023','DD-MM-YYYY'), '7000000', 'NV0020', 'DS0026')
into HOSOTHANHTOAN VALUES('HS028', TO_DATE('6-5-2021','DD-MM-YYYY'), 'Thanh toán cho phòng DS0036', TO_DATE('6-5-2021','DD-MM-YYYY'), '6000000', 'NV0020', 'DS0036')
into HOSOTHANHTOAN VALUES('HS029', TO_DATE('15-9-2020','DD-MM-YYYY'), 'Thanh toán cho phòng DS0017', TO_DATE('15-9-2020','DD-MM-YYYY'), '6000000', 'NV0020', 'DS0017')
into HOSOTHANHTOAN VALUES('HS030', TO_DATE('9-10-2023','DD-MM-YYYY'), 'Thanh toán cho phòng DS0050', TO_DATE('9-10-2023','DD-MM-YYYY'), '10000000', 'NV0020', 'DS0050')

# Bảng Bảng đánh giá

In [15]:
'''
create table BangDanhGia
(
	MaDanhGia varchar2(10) primary key, 
    NoiDung nvarchar2(100),
    MaDatPhong varchar2(10),
    MaKH varchar2(10)
) ;
'''

MaDanhGia = ''
NoiDung = ['Phòng đẹp, tuyệt vời!', 'Bình thường', 'Tệ!']
MaDatPhong = ''
MaKH = ''

for i in range (1, 30):
    MaDanhGia = f'BDG{i}'
    Nd = rd.choice(NoiDung)
    MaDatPhong = 'DS00' + str(rd.randint(1, 50))
    MaKH = 'KH' + str(rd.randint(1, 50))

    print (f'{insert}BANGDANHGIA VALUES(\'{MaDanhGia}\', \'{Nd}\', \'{MaDatPhong}\', \'{MaKH}\')')

into BANGDANHGIA VALUES('BDG1', 'Phòng đẹp, tuyệt vời!', 'DS0018', 'KH32')
into BANGDANHGIA VALUES('BDG2', 'Phòng đẹp, tuyệt vời!', 'DS0039', 'KH48')
into BANGDANHGIA VALUES('BDG3', 'Phòng đẹp, tuyệt vời!', 'DS002', 'KH24')
into BANGDANHGIA VALUES('BDG4', 'Bình thường', 'DS0034', 'KH47')
into BANGDANHGIA VALUES('BDG5', 'Bình thường', 'DS0042', 'KH4')
into BANGDANHGIA VALUES('BDG6', 'Bình thường', 'DS0039', 'KH23')
into BANGDANHGIA VALUES('BDG7', 'Phòng đẹp, tuyệt vời!', 'DS0022', 'KH31')
into BANGDANHGIA VALUES('BDG8', 'Tệ!', 'DS0018', 'KH16')
into BANGDANHGIA VALUES('BDG9', 'Phòng đẹp, tuyệt vời!', 'DS0050', 'KH34')
into BANGDANHGIA VALUES('BDG10', 'Phòng đẹp, tuyệt vời!', 'DS001', 'KH8')
into BANGDANHGIA VALUES('BDG11', 'Bình thường', 'DS0027', 'KH23')
into BANGDANHGIA VALUES('BDG12', 'Phòng đẹp, tuyệt vời!', 'DS0035', 'KH5')
into BANGDANHGIA VALUES('BDG13', 'Bình thường', 'DS0045', 'KH32')
into BANGDANHGIA VALUES('BDG14', 'Bình thường', 'DS0031', 'KH26')
into BANGDANHGIA VALUES('BDG15', 'Tệ!', 'DS0026', 'KH30')
into BANGDANHGIA VALUES('BDG16', 'Bình thường', 'DS007', 'KH23')
into BANGDANHGIA VALUES('BDG17', 'Bình thường', 'DS0032', 'KH25')
into BANGDANHGIA VALUES('BDG18', 'Bình thường', 'DS0013', 'KH9')
into BANGDANHGIA VALUES('BDG19', 'Phòng đẹp, tuyệt vời!', 'DS0014', 'KH2')
into BANGDANHGIA VALUES('BDG20', 'Phòng đẹp, tuyệt vời!', 'DS0042', 'KH18')
into BANGDANHGIA VALUES('BDG21', 'Tệ!', 'DS0017', 'KH17')
into BANGDANHGIA VALUES('BDG22', 'Bình thường', 'DS007', 'KH13')
into BANGDANHGIA VALUES('BDG23', 'Bình thường', 'DS0020', 'KH29')
into BANGDANHGIA VALUES('BDG24', 'Tệ!', 'DS0048', 'KH35')
into BANGDANHGIA VALUES('BDG25', 'Tệ!', 'DS0030', 'KH15')
into BANGDANHGIA VALUES('BDG26', 'Tệ!', 'DS0043', 'KH29')
into BANGDANHGIA VALUES('BDG27', 'Phòng đẹp, tuyệt vời!', 'DS008', 'KH7')
into BANGDANHGIA VALUES('BDG28', 'Phòng đẹp, tuyệt vời!', 'DS0027', 'KH32')
into BANGDANHGIA VALUES('BDG29', 'Tệ!', 'DS001', 'KH8')

## Phieu su dung dich vu

In [20]:

'''
create table PhieuSuDungDichVu 
(
	MaPhieuDichVu varchar2(10) not null,
	ThoiGianSuDung int,
	ThoiGianBatDau date,
	Gia int,
	TrangThai nvarchar2(20),
	DichVu varchar2 (50),
	MaPhongDat varchar2(10),

	Constraint PK_PhieuSuDungDichVu
	Primary key (MaPhieuDichVu)
) ;
'''

for i in range(100):
    ngayBatDau = f'{rd.randint(1, 28)}-{rd.randint(1, 12)}-{rd.randint(2020, 2023)}'
    MaPhieu = f'PDV0{i}'
    z = rd.randint(1, 6);

    ThoiGianSuDung = f'{z}';
    Gia = f'{z* 100000}';
    TrangThai = f'Đã sử dụng'
    x = i % 50 + 1;
    y = i % 6 + 1;
    MaPhongDat = f'DS00{x}'
    DichVu = f'DV0{y}'
    print (f'{insert} PHIEUSUDUNGDICHVU VALUES(\'{MaPhieu}\',\'{ThoiGianSuDung}\',  TO_DATE(\'{ngayBatDau}\',\'DD-MM-YYYY\'), {Gia}, \'{TrangThai}\', \'{DichVu}\', \'{MaPhongDat}\')')

into  PHIEUSUDUNGDICHVU VALUES('PDV00','3',  TO_DATE('15-7-2023','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV01', 'DS001')
into  PHIEUSUDUNGDICHVU VALUES('PDV01','1',  TO_DATE('20-11-2023','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV02', 'DS002')
into  PHIEUSUDUNGDICHVU VALUES('PDV02','1',  TO_DATE('18-12-2020','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV03', 'DS003')
into  PHIEUSUDUNGDICHVU VALUES('PDV03','5',  TO_DATE('2-9-2021','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV04', 'DS004')
into  PHIEUSUDUNGDICHVU VALUES('PDV04','1',  TO_DATE('2-5-2022','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV05', 'DS005')
into  PHIEUSUDUNGDICHVU VALUES('PDV05','1',  TO_DATE('1-2-2022','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV06', 'DS006')
into  PHIEUSUDUNGDICHVU VALUES('PDV06','6',  TO_DATE('21-6-2023','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV01', 'DS007')
into  PHIEUSUDUNGDICHVU VALUES('PDV07','5',  TO_DATE('6-2-2021','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV02', 'DS008')
into  PHIEUSUDUNGDICHVU VALUES('PDV08','6',  TO_DATE('22-3-2020','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV03', 'DS009')
into  PHIEUSUDUNGDICHVU VALUES('PDV09','1',  TO_DATE('9-6-2023','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV04', 'DS0010')
into  PHIEUSUDUNGDICHVU VALUES('PDV010','6',  TO_DATE('12-1-2020','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV05', 'DS0011')
into  PHIEUSUDUNGDICHVU VALUES('PDV011','5',  TO_DATE('2-9-2021','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV06', 'DS0012')
into  PHIEUSUDUNGDICHVU VALUES('PDV012','2',  TO_DATE('20-4-2021','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV01', 'DS0013')
into  PHIEUSUDUNGDICHVU VALUES('PDV013','6',  TO_DATE('10-6-2020','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV02', 'DS0014')
into  PHIEUSUDUNGDICHVU VALUES('PDV014','1',  TO_DATE('8-8-2021','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV03', 'DS0015')
into  PHIEUSUDUNGDICHVU VALUES('PDV015','5',  TO_DATE('27-5-2020','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV04', 'DS0016')
into  PHIEUSUDUNGDICHVU VALUES('PDV016','1',  TO_DATE('23-1-2020','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV05', 'DS0017')
into  PHIEUSUDUNGDICHVU VALUES('PDV017','1',  TO_DATE('11-6-2022','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV06', 'DS0018')
into  PHIEUSUDUNGDICHVU VALUES('PDV018','5',  TO_DATE('28-8-2022','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV01', 'DS0019')
into  PHIEUSUDUNGDICHVU VALUES('PDV019','2',  TO_DATE('13-12-2023','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV02', 'DS0020')
into  PHIEUSUDUNGDICHVU VALUES('PDV020','5',  TO_DATE('1-9-2020','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV03', 'DS0021')
into  PHIEUSUDUNGDICHVU VALUES('PDV021','5',  TO_DATE('12-1-2022','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV04', 'DS0022')
into  PHIEUSUDUNGDICHVU VALUES('PDV022','2',  TO_DATE('11-10-2021','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV05', 'DS0023')
into  PHIEUSUDUNGDICHVU VALUES('PDV023','2',  TO_DATE('28-10-2021','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV06', 'DS0024')
into  PHIEUSUDUNGDICHVU VALUES('PDV024','5',  TO_DATE('19-1-2021','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV01', 'DS0025')
into  PHIEUSUDUNGDICHVU VALUES('PDV025','4',  TO_DATE('4-5-2020','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV02', 'DS0026')
into  PHIEUSUDUNGDICHVU VALUES('PDV026','1',  TO_DATE('15-7-2023','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV03', 'DS0027')
into  PHIEUSUDUNGDICHVU VALUES('PDV027','1',  TO_DATE('7-12-2021','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV04', 'DS0028')
into  PHIEUSUDUNGDICHVU VALUES('PDV028','1',  TO_DATE('25-4-2021','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV05', 'DS0029')
into  PHIEUSUDUNGDICHVU VALUES('PDV029','3',  TO_DATE('26-1-2020','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV06', 'DS0030')
into  PHIEUSUDUNGDICHVU VALUES('PDV030','5',  TO_DATE('12-8-2021','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV01', 'DS0031')
into  PHIEUSUDUNGDICHVU VALUES('PDV031','5',  TO_DATE('20-8-2020','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV02', 'DS0032')
into  PHIEUSUDUNGDICHVU VALUES('PDV032','5',  TO_DATE('13-4-2023','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV03', 'DS0033')
into  PHIEUSUDUNGDICHVU VALUES('PDV033','1',  TO_DATE('27-3-2023','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV04', 'DS0034')
into  PHIEUSUDUNGDICHVU VALUES('PDV034','6',  TO_DATE('5-7-2022','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV05', 'DS0035')
into  PHIEUSUDUNGDICHVU VALUES('PDV035','3',  TO_DATE('7-7-2022','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV06', 'DS0036')
into  PHIEUSUDUNGDICHVU VALUES('PDV036','3',  TO_DATE('7-2-2022','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV01', 'DS0037')
into  PHIEUSUDUNGDICHVU VALUES('PDV037','2',  TO_DATE('2-8-2022','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV02', 'DS0038')
into  PHIEUSUDUNGDICHVU VALUES('PDV038','5',  TO_DATE('5-11-2022','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV03', 'DS0039')
into  PHIEUSUDUNGDICHVU VALUES('PDV039','3',  TO_DATE('8-2-2021','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV04', 'DS0040')
into  PHIEUSUDUNGDICHVU VALUES('PDV040','2',  TO_DATE('25-3-2021','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV05', 'DS0041')
into  PHIEUSUDUNGDICHVU VALUES('PDV041','3',  TO_DATE('2-1-2021','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV06', 'DS0042')
into  PHIEUSUDUNGDICHVU VALUES('PDV042','5',  TO_DATE('19-10-2023','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV01', 'DS0043')
into  PHIEUSUDUNGDICHVU VALUES('PDV043','4',  TO_DATE('25-3-2020','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV02', 'DS0044')
into  PHIEUSUDUNGDICHVU VALUES('PDV044','6',  TO_DATE('21-8-2020','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV03', 'DS0045')
into  PHIEUSUDUNGDICHVU VALUES('PDV045','4',  TO_DATE('20-3-2022','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV04', 'DS0046')
into  PHIEUSUDUNGDICHVU VALUES('PDV046','6',  TO_DATE('5-12-2020','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV05', 'DS0047')
into  PHIEUSUDUNGDICHVU VALUES('PDV047','5',  TO_DATE('1-5-2020','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV06', 'DS0048')
into  PHIEUSUDUNGDICHVU VALUES('PDV048','6',  TO_DATE('25-10-2021','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV01', 'DS0049')
into  PHIEUSUDUNGDICHVU VALUES('PDV049','2',  TO_DATE('14-11-2023','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV02', 'DS0050')
into  PHIEUSUDUNGDICHVU VALUES('PDV050','4',  TO_DATE('11-7-2022','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV03', 'DS001')
into  PHIEUSUDUNGDICHVU VALUES('PDV051','2',  TO_DATE('12-10-2020','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV04', 'DS002')
into  PHIEUSUDUNGDICHVU VALUES('PDV052','3',  TO_DATE('26-7-2023','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV05', 'DS003')
into  PHIEUSUDUNGDICHVU VALUES('PDV053','4',  TO_DATE('14-7-2023','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV06', 'DS004')
into  PHIEUSUDUNGDICHVU VALUES('PDV054','1',  TO_DATE('15-4-2023','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV01', 'DS005')
into  PHIEUSUDUNGDICHVU VALUES('PDV055','3',  TO_DATE('10-9-2020','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV02', 'DS006')
into  PHIEUSUDUNGDICHVU VALUES('PDV056','1',  TO_DATE('3-10-2023','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV03', 'DS007')
into  PHIEUSUDUNGDICHVU VALUES('PDV057','2',  TO_DATE('13-5-2021','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV04', 'DS008')
into  PHIEUSUDUNGDICHVU VALUES('PDV058','3',  TO_DATE('20-2-2021','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV05', 'DS009')
into  PHIEUSUDUNGDICHVU VALUES('PDV059','3',  TO_DATE('7-2-2021','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV06', 'DS0010')
into  PHIEUSUDUNGDICHVU VALUES('PDV060','3',  TO_DATE('20-11-2020','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV01', 'DS0011')
into  PHIEUSUDUNGDICHVU VALUES('PDV061','5',  TO_DATE('25-3-2023','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV02', 'DS0012')
into  PHIEUSUDUNGDICHVU VALUES('PDV062','5',  TO_DATE('24-7-2021','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV03', 'DS0013')
into  PHIEUSUDUNGDICHVU VALUES('PDV063','2',  TO_DATE('16-5-2021','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV04', 'DS0014')
into  PHIEUSUDUNGDICHVU VALUES('PDV064','1',  TO_DATE('10-8-2023','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV05', 'DS0015')
into  PHIEUSUDUNGDICHVU VALUES('PDV065','2',  TO_DATE('24-9-2023','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV06', 'DS0016')
into  PHIEUSUDUNGDICHVU VALUES('PDV066','3',  TO_DATE('27-7-2022','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV01', 'DS0017')
into  PHIEUSUDUNGDICHVU VALUES('PDV067','2',  TO_DATE('14-3-2020','DD-MM-YYYY'), 200000, 'Đã sử dụng', 'DV02', 'DS0018')
into  PHIEUSUDUNGDICHVU VALUES('PDV068','4',  TO_DATE('23-5-2022','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV03', 'DS0019')
into  PHIEUSUDUNGDICHVU VALUES('PDV069','4',  TO_DATE('4-6-2022','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV04', 'DS0020')
into  PHIEUSUDUNGDICHVU VALUES('PDV070','5',  TO_DATE('4-12-2020','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV05', 'DS0021')
into  PHIEUSUDUNGDICHVU VALUES('PDV071','1',  TO_DATE('6-10-2023','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV06', 'DS0022')
into  PHIEUSUDUNGDICHVU VALUES('PDV072','4',  TO_DATE('4-5-2023','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV01', 'DS0023')
into  PHIEUSUDUNGDICHVU VALUES('PDV073','3',  TO_DATE('9-9-2022','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV02', 'DS0024')
into  PHIEUSUDUNGDICHVU VALUES('PDV074','4',  TO_DATE('12-9-2020','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV03', 'DS0025')
into  PHIEUSUDUNGDICHVU VALUES('PDV075','4',  TO_DATE('27-6-2023','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV04', 'DS0026')
into  PHIEUSUDUNGDICHVU VALUES('PDV076','1',  TO_DATE('9-9-2020','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV05', 'DS0027')
into  PHIEUSUDUNGDICHVU VALUES('PDV077','4',  TO_DATE('15-11-2021','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV06', 'DS0028')
into  PHIEUSUDUNGDICHVU VALUES('PDV078','1',  TO_DATE('1-2-2021','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV01', 'DS0029')
into  PHIEUSUDUNGDICHVU VALUES('PDV079','6',  TO_DATE('20-5-2020','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV02', 'DS0030')
into  PHIEUSUDUNGDICHVU VALUES('PDV080','4',  TO_DATE('19-7-2022','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV03', 'DS0031')
into  PHIEUSUDUNGDICHVU VALUES('PDV081','4',  TO_DATE('2-11-2023','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV04', 'DS0032')
into  PHIEUSUDUNGDICHVU VALUES('PDV082','3',  TO_DATE('20-2-2021','DD-MM-YYYY'), 300000, 'Đã sử dụng', 'DV05', 'DS0033')
into  PHIEUSUDUNGDICHVU VALUES('PDV083','5',  TO_DATE('4-5-2021','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV06', 'DS0034')
into  PHIEUSUDUNGDICHVU VALUES('PDV084','4',  TO_DATE('26-7-2022','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV01', 'DS0035')
into  PHIEUSUDUNGDICHVU VALUES('PDV085','6',  TO_DATE('21-7-2022','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV02', 'DS0036')
into  PHIEUSUDUNGDICHVU VALUES('PDV086','4',  TO_DATE('16-8-2022','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV03', 'DS0037')
into  PHIEUSUDUNGDICHVU VALUES('PDV087','5',  TO_DATE('16-9-2022','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV04', 'DS0038')
into  PHIEUSUDUNGDICHVU VALUES('PDV088','4',  TO_DATE('18-7-2020','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV05', 'DS0039')
into  PHIEUSUDUNGDICHVU VALUES('PDV089','6',  TO_DATE('11-9-2022','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV06', 'DS0040')
into  PHIEUSUDUNGDICHVU VALUES('PDV090','4',  TO_DATE('27-3-2021','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV01', 'DS0041')
into  PHIEUSUDUNGDICHVU VALUES('PDV091','5',  TO_DATE('2-1-2023','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV02', 'DS0042')
into  PHIEUSUDUNGDICHVU VALUES('PDV092','5',  TO_DATE('22-12-2022','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV03', 'DS0043')
into  PHIEUSUDUNGDICHVU VALUES('PDV093','5',  TO_DATE('1-1-2023','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV04', 'DS0044')
into  PHIEUSUDUNGDICHVU VALUES('PDV094','5',  TO_DATE('24-10-2023','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV05', 'DS0045')
into  PHIEUSUDUNGDICHVU VALUES('PDV095','1',  TO_DATE('12-3-2022','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV06', 'DS0046')
into  PHIEUSUDUNGDICHVU VALUES('PDV096','6',  TO_DATE('6-4-2021','DD-MM-YYYY'), 600000, 'Đã sử dụng', 'DV01', 'DS0047')
into  PHIEUSUDUNGDICHVU VALUES('PDV097','5',  TO_DATE('7-5-2020','DD-MM-YYYY'), 500000, 'Đã sử dụng', 'DV02', 'DS0048')
into  PHIEUSUDUNGDICHVU VALUES('PDV098','4',  TO_DATE('5-3-2021','DD-MM-YYYY'), 400000, 'Đã sử dụng', 'DV03', 'DS0049')
into  PHIEUSUDUNGDICHVU VALUES('PDV099','1',  TO_DATE('26-6-2023','DD-MM-YYYY'), 100000, 'Đã sử dụng', 'DV04', 'DS0050')